snippet link "LinkNode Structure" b
struct ListNode {
	int val;
	ListNode *next;
	ListNode(int x) : val(x), next(NULL) {}
};
endsnippet

snippet include "Header Defination" b
#include <iostream>
#include <vector>
using namespace std;
endsnippet

snippet tree "Tree Structure" b
struct TreeNode {
	int val;
	TreeNode *left;
	TreeNode *right;
	TreeNode(int x) : val(x), left(NULL), right(NULL) {}
};
endsnippet

snippet solution "Class Solution" b
class Solution{
	public:
		$1
};
endsnippet
