snippet header "Header Docstring" b
# -*- encoding: utf-8 -*-
"""
@Time    :   `!v strftime("%Y-%m-%d %H:%M")`
@Author  :   Cao Shuai,
@Version :   1.0,
@Contact :   caoshuai@stu.scu.edu.cn,
@License :   (C)Copyright 2018-2019, MILAB_SCU,
@Desc    :   ${1:${VISUAL}}
"""
endsnippet
